In [2]:
import dgipy
import pandas as pd

In [3]:
df = pd.read_csv('ner_norm_results_20240611.csv',sep='\t')
df[0:5]

,Unnamed: 0,end,entity_group,score,start,word,brand_name,application_number,match_type,concept_id
0,0,29,GENETIC,0.999982,22,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19
1,1,118,GENETIC,0.985905,102,CYP2C19 * 1 allele,omeprazole sodium bicarbonate,ANDA207476,0,NaN
2,2,165,GENETIC,0.999978,149,CYP2C19 * 2 and * 3,omeprazole sodium bicarbonate,ANDA207476,0,NaN
3,3,485,GENETIC,0.999991,478,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19
4,4,704,GENETIC,0.999990,697,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19

In [4]:
import dgipy

In [ ]:
def get_concept_id

In [ ]:
for brand in df['brand_name'].unique():
    if isinstance(brand,float):
        pass
    else:
        print(brand.split(' '))
        print(dgipy.get_interactions(brand.split(' ')[0],search='drugs'))

In [14]:
def get_linked_dgidb_record(brand_name):
    if isinstance(brand_name,float):
        return None

    data = dgipy.get_drug(brand_name.split(' ')[0])
    try:
        return data['concept_id'][0]
    except:
        return None

In [15]:
df['linked_dgidb_record'] = df['brand_name'].apply(get_linked_dgidb_record)
df[0:5]

,Unnamed: 0,end,entity_group,score,start,word,brand_name,application_number,match_type,concept_id,linked_dgidb_record
0,0,29,GENETIC,0.999982,22,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19,rxcui:7646
1,1,118,GENETIC,0.985905,102,CYP2C19 * 1 allele,omeprazole sodium bicarbonate,ANDA207476,0,NaN,rxcui:7646
2,2,165,GENETIC,0.999978,149,CYP2C19 * 2 and * 3,omeprazole sodium bicarbonate,ANDA207476,0,NaN,rxcui:7646
3,3,485,GENETIC,0.999991,478,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19,rxcui:7646
4,4,704,GENETIC,0.999990,697,CYP2C19,omeprazole sodium bicarbonate,ANDA207476,100,normalize.gene:CYP2C19,rxcui:7646

In [16]:
df.to_excel('linked-results.xlsx')